@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
  background-color: #FFF;
}
.wrapper {
  text-align: center;
}
.time {
  color: #000;
  font-size: 6em;
}
.label {
  font-size: 2em;
  display: block;
  color: #aaa;
}
.bg {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}
